@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3D2B1F;
  --foreground: #F5F0E8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
